.header-table {
    background: linear-gradient(to right, #7A55CC, #BF51C1);
    color: aliceblue;
}

.header-table tr:hover {
    background-color: #f5f5f5;
}

.header-table tr:nth-child(even) {
    background-color: red;
}

.background-footer {
    background: linear-gradient(to right, #7A55CC, #BF51C1);
}